@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/Default/HeadPartial.cshtml")
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    @Html.Partial("~/Views/Default/NavbarPartial.cshtml")
    @Html.Action("FeaturePartial")
    @Html.Action("AboutPartial")
    @Html.Action("ServicePartial")
    @Html.Action("ProjectPartial")
    @Html.Action("TestimonialPartial")
    @Html.Partial("~/Views/Default/ContactPartial.cshtml")
    @Html.Action("FooterPartial")
    @Html.Partial("~/Views/Default/ScriptsPartial.cshtml")
</body>
</html>
@RenderBody()